page-home {
    ion-content {
        text-align: center;
    }
    ion-header {
        text-align: center;
    }
    .record{
        font-size: 35px;
        padding-bottom: 3px;
        width: 10%;
        height: 10%
    }
  }