<ion-header>
  <ion-navbar [color]="isRecording ? 'danger' : 'primary'">
    <ion-title>
      Welcome
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1> Computer ASL Translation </h1>
  <button ion-button full color="primary" (click)="getPermission()">Activate Microphone</button>
  <button ion-button round color="danger" class="record" (click)="startListening()">\u25CF</button>
  <button ion-button round color="danger" class="stop" (click)="stopListening()" *ngIf="isIos()">\u25A0</button>
  <p>
    Push the button above to start recording speech!
  </p>

  <button ion-button round color="primary"(click)="goToLibraryPage()">Library</button>
  <p color class="message">
    Push the button above to access saved messages!
  </p>
  <button ion-button round color="primary"(click)="goToAboutPage()">About</button>
  <p color class="message">
    Push the button above to learn about us!
  </p>

  <ion-card>
    <ion-card-header> Here are the possible sentences you said: </ion-card-header>
      <ion-card-content>
        <ion-list>
            <ion-item *ngFor="let match of matches">
              {{ match }}
            </ion-item>
        </ion-list>
      </ion-card-content>
  </ion-card>
</ion-content> 
   
  